:root{
  --main-witdh: 300px;
  --main-height: 300px;
}





body {
  background: white;
  font-family: 'Josefin Sans', sans-serif;
  color: #555957;
}

section {

  min-height: 100vh;
}




.img-chat{
position: relative;
top: 60px;
}

#main-menu {
  background: #D1E9F8;
  height:100%;
  width: 320px;
  position: absolute;
  top: 0;
  left: -320px;
  transition: 1s all ease;
}

#main-menu:target {
  left: 0;
  z-index: 999;
}

#main-menu ul{
  position: absolute;
  list-style: none;
  top: 40px;
}


#titre-1{
  top: 80px;
  text-decoration: none;

  color: #555957;
}

#titre-2{
  top: 120px;
  text-decoration: none;

  color: #555957;

}

#titre-3{
  top: 160px;
  text-decoration: none;

  color: #555957;
}

#titre-4{
  top: 20px;
  text-decoration: none;

  color: #555957;
}

#titre-1:hover {
    color: #FAD2DB;

    text-decoration: line-through;

}

#titre-2:hover {
    color: #FBC96C;
    text-decoration: line-through;

}

#titre-3:hover {
    color: #FAD2DB;
    text-decoration: line-through;

}

#titre-4:hover {
    color: #FBC96C;
    text-decoration: line-through;

}



#open-menu{
  position: fixed;
  top: 50px;
  right: 50px;
}

.close-menu{
  display: block;
  position: absolute;
  top: 30px;
  left:260px;
}

#main-menu:target + .backdrop {
  display: block;
  background: white;
  opacity: 0%;
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
  z-index: 998;
}




@media (min-width : 640px) {

#main-menu{
  position: static;

}
#main-menu ul{
  display: flex;
  background-color: white;
  position:fixed;
  list-style: none;
  width:100%;
  height: 60px;
  z-index: 1200;

}

#open-menu{
  display: none;
}

.close-menu{
  display: none;
}

#titre-1{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;
}

#titre-2{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;

}

#titre-3{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;
}

#titre-4{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;
}



#titre-1:hover {
    color: #FAD2DB;

    text-decoration: line-through;

}

#titre-2:hover {
    color: #FBC96C;
    text-decoration: line-through;

}

#titre-3:hover {
    color: #FAD2DB;
    text-decoration: line-through;

}

#titre-4:hover {
    color: #FBC96C;
    text-decoration: line-through;

}


}













@keyframes cercle-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 #cercle-1 {
 animation-name: cercle-1;
 animation-duration: 2s;
 animation-timing-function: ease-in;
 animation-iteration-count: infinite;
 }





@keyframes rotate-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 #cercle-2 {
 animation-name: rotate-2;
 animation-duration: 2s;
 animation-timing-function: ease-in;
 animation-iteration-count: infinite;
 }







@keyframes cercle-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 #cercle-3 {
 animation-name: cercle-3;
 animation-duration: 2s;
 animation-timing-function: ease-in;
 animation-iteration-count: infinite;
 }



@keyframes cercle-4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 #cercle-4{
 animation-name: cercle-4;
 animation-duration: 2s;
 animation-timing-function: ease-in;
 animation-iteration-count: infinite;
 }











/*section 2  https://la-cascade.io/utiliser-grid-ou-flexbox/*/


.wrapper {
  margin: 0 auto;
  width: 90%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 2px solid #490A3D;
  border-radius:5px;
  background-color: #BD1550;
  color: #fff;
  flex: 1 1 200px;
}

.cards h2 {
  background-color: #490A3D;
  margin: 0;
  padding: 10px;
}

.cards p {
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.flex li {
  flex: 1 1 200px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
  grid-gap: 20px;
}
