:root{
  --main-witdh: 300px;
  --main-height: 300px;
}





body {
  background: white;
  font-family: 'Josefin Sans', sans-serif;
  color: #555957;
}

section {

  min-height: 100vh;
}




.img-chat{
position: relative;
top: 60px;
}

#main-menu {
  background: #D1E9F8;
  height:100%;
  width: 320px;
  position: absolute;
  top: 0;
  left: -320px;
  transition: 1s all ease;
}

#main-menu:target {
  left: 0;
  z-index: 999;
}





#titre-1:hover {
    color: #FAD2DB;

    text-decoration: line-through;

}

#titre-2:hover {
    color: #FBC96C;
    text-decoration: line-through;

}

#titre-3:hover {
    color: #FAD2DB;
    text-decoration: line-through;

}

#titre-4:hover {
    color: #FBC96C;
    text-decoration: line-through;

}



#open-menu{
  position: fixed;
  top: 50px;
  right: 50px;
}

.close-menu{
  display: block;
  position: absolute;
  top: 30px;
  left:260px;
}

#main-menu:target + .backdrop {
  display: block;
  background: white;
  opacity: 0%;
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
  z-index: 998;
}

@media (max-width : 640px) {
  #main-menu ul{

    position: absolute;
    list-style: none;
    top: 40px;

    }

    #titre-1{

      text-decoration: none;

      color: #555957;
    }

    #titre-2{

      text-decoration: none;

      color: #555957;

    }

    #titre-3{

      text-decoration: none;

      color: #555957;
    }

    #titre-4{

      text-decoration: none;

      color: #555957;
    }

}


@media (min-width : 640px) {

#main-menu{
  position: static;

}
#main-menu ul{
  display: flex;
  background-color: white;
  position:fixed;
  list-style: none;
  width:100%;
  height: 80px;
  z-index: 1200;
  top: 0px;
  align-items: center;
  margin: 0;


}

#open-menu{
  display: none;
}

.close-menu{
  display: none;
}

#titre-1{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;
}

#titre-2{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;

}

#titre-3{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;
}

#titre-4{
  text-decoration: none;
  margin-right: 30px;
  color: #555957;
}



#titre-1:hover {
    color: #FAD2DB;

    text-decoration: line-through;

}

#titre-2:hover {
    color: #FBC96C;
    text-decoration: line-through;

}

#titre-3:hover {
    color: #FAD2DB;
    text-decoration: line-through;

}

#titre-4:hover {
    color: #FBC96C;
    text-decoration: line-through;

}


}







#cercle-1, #cercle-2, #cercle-3, #cercle-4{
  transform-box: fill-box;
  transform-origin: center;
}


#cercle-1{
    animation:cercle-1 2s linear infinite;
    transform-box: fill-box;
    transform-origin: center;
  }
  @keyframes cercle-1
  {
   100%
   {
     -webkit-transform: rotate(360deg);
     transform:rotate(360deg);
     }
   }

   #cercle-2{
       animation:cercle-2 2.2s linear infinite;
       transform-box: fill-box;
       transform-origin: center;
     }
     @keyframes cercle-2
     {
      100%
      {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
        }
      }


      #cercle-3{
          animation:cercle-3 2.4s linear infinite;
          transform-box: fill-box;
          transform-origin: center;
        }
        @keyframes cercle-3
        {
         100%
         {
           -webkit-transform: rotate(360deg);
           transform:rotate(360deg);
           }
         }

         #cercle-4{
             animation:cercle-4 2.6s linear infinite;
             transform-box: fill-box;
             transform-origin: center;
           }
           @keyframes cercle-4
           {
            100%
            {
              -webkit-transform: rotate(360deg);
              transform:rotate(360deg);
              }
            }


















/*section 2  https://la-cascade.io/utiliser-grid-ou-flexbox/*/


.wrapper {
  margin: 0 auto;
  width: 90%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;

}

.cards li {
  /*border: 2px solid #490A3D;*/
  border-radius: 30px 0;

  background-color: white;
  color: #fff;
  flex: 1 1 200px;
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.05);
}

.cards h2 {
  text-align: center;
  color: #555957;
  margin: 0;
  padding: 10px;
  
}

.cards p {
  padding: 10px;
  color: #555957;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.flex li {
  flex: 1 1 200px;
  margin: 10px;
}















.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
  grid-gap: 20px;
}
